<div class="container">
    <div class="col-md-12">
        <h3>Fais ta recherche</h3>
    </div>
    <div class="col-md-6">
        <form autocomplete="off">
            <div>
                <label for="brand">Marque: </label>
                <select>
                    <option value="">Choisis une marque</option>
                    <option value="1">Chanel</option>
                    <option value="2">Hermès</option>
                    <option value="3">Yves-Saint-Laurent</option>
                    <option value="4">Cartier</option>
                </select>
            </div>
            <div>
                <label for="color">Couleur: </label>
                <select>
                    <option value="">Choisis une couleur</option>
                    <option value="1">Rouge</option>
                    <option value="2">Noir</option>
                    <option value="3">Blanc</option>
                    <option value="4">Camel</option>
                </select>
            </div>
            <div>
                <label for="model">Modèle: </label>
                <select>
                    <option value="">Choisis le modèle</option>
                    <option value="1">Timeless</option>
                    <option value="2">Le métisse</option>
                    <option value="3">La joconde</option>
                    <option value="4">HipHop</option>
                </select>
            </div>
            <div>
                <label for="color">Etat: </label>
                <select>
                    <option value="">Choisis l'état du produit</option>
                    <option value="1">Neuf</option>
                    <option value="2">Très bon état</option>
                    <option value="3">Bon état</option>
                    <option value="4">Mauvais état</option>
                </select>
            </div>
            <div>

                <label for="color">Couleur: </label>
                <select>
                    <option value="">Choisis une couleur</option>
                    <option value="1">Rouge</option>
                    <option value="2">Noir</option>
                    <option value="3">Blanc</option>
                    <option value="4">Camel</option>
                </select>
            </div>
            <button type="submit" class="btn btn-primary">Save</button>
            <button type="button" class="btn btn-default">Cancel</button>
        </form>
    </div>
</div>