<div class="container">
    <div>
        <h3>Fais ta recherche</h3>
    </div>
    <form [formGroup]="form">
        <div class="row">
            <div class="col-sm-3">
                <label for="catalog" class="control-label">Article :</label>
                <input list="catalogs" type="text" id="catalog" class="form-control" formControlName="catalog"
                    placeholder="Article">
                <datalist id="catalogs">
                    <option *ngFor="let article of dataSitesJSON.generic.catalogs" [ngValue]="article.title">
                        {{ article.title }}
                    </option>
                </datalist>
            </div>
            <div class="col-sm-3">
                <label for="brand" class="control-label">Marque :</label>
                <input list="brands" type="text" id="brand" class="form-control" formControlName="brand"
                    placeholder="Marque">
                <datalist id="brands">
                    <option *ngFor="let article of dataSitesJSON.generic.brands" [ngValue]="
                            article.title">
                        {{ article.title}}
                    </option>
                </datalist>
            </div>
            <div class="col-sm-3">
                <label for="modele" class="control-label">Modèle :</label>
                <input type="text" id="modele" class="form-control" formControlName="modele" placeholder="Modèle">
            </div>
            <div class="col-sm-3">
                <label for="color" class="control-label">Couleur :</label>
                <input list="colors" type="text" id="color" class="form-control" formControlName="color"
                    placeholder="Couleur">
                <datalist id="colors">
                    <option *ngFor="let article of dataSitesJSON.generic.colors" [ngValue]="article.title">
                        {{ article.title }}
                    </option>
                </datalist>
            </div>
            <div class="col-sm-3">
                <label for="condition" class="control-label">Etat :</label>
                <select id="condition" class="form-control" formControlName="condition" placeholder="Etat">
                    <option [ngValue]="null" selected disabled>Choisis l'état du produit recherché</option>
                    <option *ngFor="let article of dataSitesJSON.generic.conditions" [ngValue]="article.title">
                        {{ article.title }}
                    </option>
                </select>
            </div>
            <div class="col-sm-3">
                <label for="priceFrom" class="control-label">Prix de :</label>
                <input min="0" type="number" id="priceFrom" class="form-control" formControlName="priceFrom"
                    placeholder="Minimum">
            </div>
            <div class="col-sm-3">
                <label for="priceTo" class="control-label">Prix à :</label>
                <input min="0" type="number" id="priceTo" class="form-control" formControlName="priceTo"
                    placeholder="Maximum">
            </div>
        </div>
    </form>
    <br />
    <div>
        <button type="submit" (click)="onSubmit()" class="btn btn-primary btn-sm">Recheche globale</button>
        <button type="submit" (click)="searchVinted()" class="btn btn-outline-primary btn-sm ml-1">Rechecher sur
            Vinted</button>
        <button type="submit" (click)="searchVestiaire()" class="btn btn-outline-primary btn-sm ml-1">Rechecher sur
            Vestiaire
            Collective</button>
        <button type="submit" (click)="searchJoliCloset()" class="btn btn-outline-primary btn-sm ml-1">Rechecher sur
            Joli
            Closet</button>
        <button type="button" (click)="onClearForm()" class="btn btn-outline-danger btn-sm ml-1">Effacer les
            filtres</button>
    </div>
</div>
<br />
<div *ngIf="isValidate">
    <my-tabs>
        <my-tab [tabTitle]="'Vinted'">
            <div>
                <vinted-list [products]="productsVinted" [form]="form">
                </vinted-list>
            </div>
            <div *ngIf="!productsVinted && !loading">
                Aucun résultat
            </div>
        </my-tab>
        <my-tab tabTitle="Vestiaire Collective">
            <div>
                <vestiaire-list [products]="productsVestiaire" [form]="form">
                </vestiaire-list>
            </div>
            <div *ngIf="!productsVinted && !loading">
                Aucun résultat
            </div>
        </my-tab>
        <my-tab tabTitle="Joli Closet">
            <div>
                <jolicloset-list [products]="productsJoliCloset" [form]="form">
                </jolicloset-list>
            </div>
            <div *ngIf="!productsJoliCloset && !loading">
                Aucun résultat
            </div>
        </my-tab>
    </my-tabs>
    <div *ngIf="loading" class="talign-center">
        <div class="spinner spinner--steps icon-spinner" aria-hidden="true"></div>
    </div>
</div>