<div class="container">
    <div class="col-md-12">
        <h3>Fais ta recherche</h3>
    </div>
    <div class="col-md-6">
        <form autocomplete="off">
            <div>
                <label>Choisis une marque:
                    <input list="brand" name="brand" /></label>
                <datalist id="brand">
                    <option value="Chanel">
                    <option value="Hermès">
                    <option value="Yves-Saint-Laurent">
                    <option value="Michael Kors">
                    <option value="Longchamp">
                </datalist>
            </div>

            <div>
                <label>Choisis une couleur:
                    <input list="color" name="color" /></label>
                <datalist id="color">
                    <option value="Rouge">
                    <option value="Noir">
                    <option value="Blanc">
                    <option value="Camel">
                    <option value="Marron">
                    <option value="Vert">
                </datalist>
            </div>
            <div>
                <label for="color">Choisis le modèle : </label>
                <input type="number" />
            </div>
            <div>
                <label for="color">Choisis l'état : </label>
                <select>
                    <option value="">Choisis l'état du produit</option>
                    <option value="1">Neuf, avec étiquette</option>
                    <option value="2">Neuf</option>
                    <option value="3">Très bon état</option>
                    <option value="4">Bon état</option>
                    <option value="5">Satisfaisant</option>
                </select>
            </div>
            <div>
                <label for="color">Choisis le prix : </label>
                <input type="number" />
            </div>
            <button type="submit" class="btn btn-primary">Save</button>
            <button type="button" class="btn btn-default">Cancel</button>
        </form>

    </div>
</div>